# Ignore all
/*

# Exception patterns
!.gitignore
!/wordpress/wp-content/*

# .gitignore pattern
# If the pattern is '/foo', starting from '/', it means 'matches foo dirs and files relative to the .gitignore file. If the pattern is 'foo', not starting from '/', it means 'matches dirs and files whose name is 'foo' in any depth.